/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos do body */
body {
    background-color: #f0f0f0; /* Cor de fundo cinza claro */
    font-family: 'Poppins', sans-serif; /* Fonte Poppins */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos do container */
.container {
    max-width: 500px;
    width: 100%;
    padding: 20px;
}

/* Estilos do título */
.titulo {
    text-align: center;
    margin-bottom: 30px;
    color: #333; /* Cor do texto */
}

/* Estilos do formulário */
form {
    background-color: #fff; /* Cor de fundo branca */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilos dos campos de entrada */
input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilos do botão de envio */
button[type="button"] {
    background-color: #3498db; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branco */
    padding: 10px 65px;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Transição suave */

}

button[type="button"]:hover {
    background-color: #2980b9; /* Cor de fundo azul mais escura no hover */
    /*aumentar e siminuir suavemente o botao*/
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

/* Estilos para labels */
label {
    font-weight: bold;
}
